*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.homeComponents{
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
  /* background-color: #cccccc69; */
  height: 100vh;
  background-image: url('https://img.freepik.com/premium-photo/abstract-blurred-gradient-nature-wallpaper-backgroundsoft-background-wallpaperdesigngraphic-presentation_532332-1415.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}